*{
  margin: 0;
  padding: 5;
}
body{
 background-image: linear-gradient(to right ,rgb(230, 190, 116) ,rgb(250, 65, 250));
  
}
.box{
  border: 1px solid rgb(248, 244, 244);
  width: 35%;
  height: 62.5vh;
  margin-left: 32.1%;
  margin-top: 10%;
  background: rgb(250, 245, 245);
border-top-right-radius: 20px; 
border-bottom-right-radius:15px ;
}  
.button{ 
  color: rgb(255, 255, 255); 
  background-color: rgb(16, 16, 241); 
  
} 
.heading{
color: rgb(132, 132, 233);
margin-left: 250px;
}

.p{ 
  margin-top: -50px;
  margin-bottom: -90px;

}
.box1{
  border: 1px solid rgb(247, 206, 118) ;
  width: 20%;
  height:62.5vh ;
  margin-left: 12%;
  margin-top: -420px; 
  background: rgb(247, 211, 144);
  border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
} 


img{
  width: 260px;
  height: 250px;
} 
#UserN{ 
  margin-left: 260px;
} 


input[type=account]{ 
  color: rgb(233, 218, 218);
  background-color: rgb(144, 52, 231); 
  height: 5vh;
  width: 25%; 
  margin-left: 20%;
  margin-top: 70px; 
  border-bottom-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%; 
  border: none;
}
